.header {
    color: #fff;
    background: #0078d4;
    height: 40px;
    line-height: 40px;
    padding: 0 0px;
}

.gutter-example
{
    padding: 10px;
}
.sub-header-01
{
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background: #001529;
    padding-right: 10px;
    margin-bottom: 12px;
}

.header-left {
    display: inline;
}

.header-right {
    float: right;
}

.header-title {
    display: inline-block;
    font-size: 15px;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    font-family: az_ea_font, "Segoe UI", wf_segoe-ui_semibold, "Segoe UI Semibold", "Segoe WP Semibold", "Segoe WP", Tahoma, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.header-search {
    margin-left: 15px;
    margin-right: 15px;
    width: 474px;
    min-width: 250px;
    border-radius: 2px;
    height: 26px;
    border: 0;
    font-size: 13px;
    height: 26px;
    padding: 0px 25px;
    line-height: 25px;
}

.header-list-inline {
    padding-left: 0;
    list-style: none;
    text-align: right;
    margin: 0 0;
}

.header-list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
}

.header-avatar-txt div {
    height: 17px;
    line-height: 17px;
}

.header-avatar-icon {
    height: 35px;
    width: 35px;
    border: 0;
    float: right;
}

.header-avatar-email,
.header-avatar-role {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    line-height: normal;
    max-width: 146px;
}

.header-avatar-email {
    font-size: 14px;
}

.header-avatar-role {
    font-family: az_ea_font, "Segoe UI", wf_segoe-ui_semibold, "Segoe UI Semibold", "Segoe WP Semibold", "Segoe WP", Tahoma, Arial, sans-serif;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    opacity: .9;
}

.ant-card-body
{
    padding: 10px;
}
.ant-menu > .ant-menu-item
{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}


.tr > th, .ant-table-tbody > tr > td {
    padding: 0px 16px;
}

